
.button {
	
	--offset: 5px;
    font-size: 12px;
    --border-size: 1px;
    position: relative;
    padding: .55em 2em;
	appearance: none;
	border: var(--border-size);
	background: transparent;
	color: #fff;
	outline: none;
	cursor: pointer;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	transition: background .8s ease;
    font-family: 'Titillium Web', sans-serif;
	
	&:hover {
		background: #ffffff42;
	}
	
}